POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=vestigas
HTTP_PORT=8000
LOGISTICS_A_URL=http://mock_a:8000/api/logistics-a
LOGISTICS_B_URL=http://mock_b:8000/api/logistics-b
MOCK_A_FAILURE_RATE=0.03
MOCK_A_SLOW_RATE=0.01
MOCK_B_FAILURE_RATE=0.05
MOCK_B_SLOW_RATE=0.02